<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="/static/menu.css">

          <style>
          #nav_wrapper>ul>li:hover{
            transform: scale(1.1)!important;
          }

          body{
            background:url(/static/img/white_bg.png) left top repeat;
          }
        </style>

  </head>
  <body>

    <div id="nav">

        <div id="nav_wrapper">

            <ul>
                <li><a href="/">Home</a>

                <li> <a href="#">Upload</a>

                    <ul>
                        <li><a href="/photos">Photos</a>
                        </li>
                        <li><a href="/excel">Excel Spreadsheet</a>
                        <!-- </li>
                        <li><a href="#">dropdown #1 item #3</a>
                        </li> -->
                    </ul>
                </li>
                <li> <a href="/records">Archives</a>

                    <ul>
                        <li><a href="/search_name">Search Name</a>
                        </li>
                        <li><a href="/search_corpID">Search corp ID</a>
                        </li>
                        <li><a href="/date_form">Search Joining Date</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/camera">Camera</a>
                  </li>
                <li> <a href="#">Account</a>

                    <ul>
                        <li><a href="/add_user">Add User</a>
                        </li>
                        <li><a href="/delete_user">Delete</a>
                          <li><a href="/logout">Logout</a>

                    </ul>

                </li>


            </ul>
        </div>
        <!-- Nav wrapper end -->
    </div>


    <div class="container" style="margin-left: 10pt;">
      <div class="header">
        <h3 class="text-muted" style="color: #00897B">Spreadsheet successfully uploaded!</h3>
      </div>
      <hr/>
      <div>
      You can go to the home page and check the entries of the spreadsheet.
      <ul>
        {% for file in filenames %}
          <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
        {% endfor %}
      </ul>
      </div>

      </div>
    </div>
  </body>
</html>
